{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <img src="{% static 'el_autor_otra.jpg' %}" alt="Just me, myself and I" title="El autor en el Lago Puelo, Chubut, AR." style="width:100%">
      <div class="w3-container">
        <h3 align="center"><span class="w3-tag">LUIS RA&UacuteL ROMERO &AacuteVILA</span></h3>
        <div class="w3-container">
            <p align="justify">Cient&iacutefico de datos en formaci&oacuten. Proactivo, organizado y con profundo pensamiento cr&iacutetico. Busco ser parte de una organizaci&oacuten en la que pueda desarrollar mi potencial y cumplir mi aspiración de resolver problemas que permitan contribuir al avance de nuestra sociedad.</p>
        </div>
        <hr>
        <div class="w3-container">
            <h5 align="center"><span class="w3-tag">Formaci&oacuten</span></h5><br>
            <h5>Bachiller Universitario en Ciencia de Datos. <span class="w3-opacity">Universidad de Buenos Aires, AR.<br></span>
                Estudiante de Lic. en Ciencia de Datos. <span class="w3-opacity">Universidad de Buenos Aires, AR.<br></span>
                <!--Estudiante de Lic. en Qu&iacutemica. <span class="w3-opacity">Universidad Sim&oacuten Bol&iacutevar, VE. (sin culminar)<br></span>-->
            </h5>
            <br>
            <h5 align="center"><span class="w3-tag">Cargos Actuales</span></h5><br>
            <h5>Ayudante de Primera. <span class="w3-opacity">Instituto de C&aacutelculo, Universidad de Buenos Aires, AR.<br></span>
                Docente Auxiliar de Inferencia Estad&iacutestica e Introducci&oactuen a la Estad&iacutestica. <span class="w3-opacity">Universidad Torcuato di Tella, AR.<br></span>
                Ayudante de Segunda. <span class="w3-opacity">Departamento de Matem&aacuteticas, Universidad de Buenos Aires, AR.<br></span>
                Secretario Administrativo. <span class="w3-opacity">Posgrados en Estad&iacutestica Matem&aacutetica, Universidad de Buenos Aires, AR.<br></span>
                <!--Docente de Exactas Programa. <span class="w3-opacity">Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires, AR.<br></span>-->
            </span></h5>
            <br>
        </div>
      </div>
</div>
<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <h3><b>Datos de Contacto e Informaci&oacuten General</b></h3>
    <hr>
    <h5><b><u>Direcci&oacuten postal:</u></b> Intendente G&uumliraldes 2160. Instituto de C&aacutelculo, Oficina 2118. Pabell&oacuten 0+Inf.<br><span class="w3-opacity"> Facultad de Cs. Exactas y Naturales, Ciudad Universitaria de Buenos Aires, Argentina. CPA C1428EGA.</span></h5>
    <h5><span class="w3-opacity"></span></h5>
    </div>

    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <img src="{% static 'linkedin.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://linkedin.com/in/romeroluisraul/">Linkedin</a></span><br>
            <span>Mi Vitae</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'github.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://github.com/romeroluisraul/">GitHub</a></span><br>
            <span>Proyectos desarrollados. El repositorio de este proyecto est&aacute disponible <a href="https://github.com/romeroluisraul/proyecto_final_coder">ac&aacute.</a></span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'drive.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://bit.ly/3Mwi3KV">Archivos P&uacuteblicos</a></span><br>
            <span>Archivos p&uacuteblicos: nombramientos, certificaciones, anal&iacuteticos, conferencias.</span>
        </li>
    </ul>

    <div class="w3-container">
    <h5><p align="justify">Env&iacuteame un mail <a href="mailto:luisr.romeroa@gmail.com?Subject=Pagina%20web%20CoderHouse" target="_blank">acá</a>.</p></h5>
    </div>
</div>
<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <h3><b>Trabajos Publicados</b></h3>
    <hr>
    </div>

    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <span>Romero Ávila, Salas Morales, Martin & Rossi. (2023)</span><br>
            <span>Desarrollo de un clasificador Bayes Naive y una aplicación con datos del flujo vehicular en autopistas de Buenos Aires.</span><br>
            <span>Memorias De Las JAIIO, 9(6), 28-42.</span><br>
            <span><a href="https://ojs.sadio.org.ar/index.php/JAIIO/article/view/514" target="_blank">https://ojs.sadio.org.ar/index.php/JAIIO/article/view/514</a></span>
        </li>
    </ul>
</div>
<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <h3><b>Resumen de Conocimientos</b></h3>
    <hr>
    </div>

    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <img src="{% static 'statsmodels-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Aprendizaje Supervisado</span><br>
            <span>Boosting con XGBoost, Random Forests, Bagging y ensambles.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'sklearn_logo_recorte-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Aprendizaje No Supervisado</a></span><br>
            <span>Clustering jer&aacuterquico, K-means, DBSCAN, Componentes Principales entre otros.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'geopandas-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Informacion Geolocalizada</span><br>
            <span>Con Geopandas.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'sql_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Bases de datos SQL</span><br>
            <span>SQLite, MySQL.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'ollama.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Modelos de Lenguaje Grandes</span><br>
            <span>Ajuste de hiperpar&aacutemetros, preparaci&oacuten de entornos locales y desarrollo.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'django_logo-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Paginas Web basadas en Python</span><br>
            <span>Programaci&oacuten Backend con Django, Flask, Quart.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'R_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lenguajes de Programacion</span><br>
            <span>Programaci&oacuten Imperativa con Python, R y Java. Nociones de Funcional con Haskell. POO con Python y Java</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'python_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Librer&iacuteas para manejo de datos y visualizaci&oacuten con Python</span><br>
            <span>Matplotlib, Seaborn, NumPy, Pandas.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'cabeza_bombillo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Algoritmos y Estructuras de Datos</span><br>
            <span>Lenguaje de especificaci&oacuten de problemas en l&oacutegica de primer orden. Tipos abstractos de datos.</span>
        </li>
    </ul>
</div>

{% endblock %}