{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <img src="{% static 'el_autor_otra.jpg' %}" alt="Just me, myself and I" title="El autor en el Lago Puelo, Chubut, AR." style="width:100%">
      <div class="w3-container">
        <h3 align="center"><span class="w3-tag">LUIS RA&UacuteL ROMERO &AacuteVILA</span></h3>
        <hr>
        <h5>Estudiante de Lic. en Ciencia de Datos. <span class="w3-opacity">Universidad de Buenos Aires, AR.<br></span>
            Estudiante de Lic. en Qu&iacutemica. <span class="w3-opacity">Universidad Sim&oacuten Bol&iacutevar, VE.<br></span>
        </h5>
        <h5>Ayudante Administrativo de la Maestr&iacutea en Estad&iacutestica Matem&aacutetica. <span class="w3-opacity">Instituto de C&aacutelculo, Universidad de Buenos Aires, AR.<br></span>
        Docente de Exactas Programa. <span class="w3-opacity">Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires, AR.</span></h5>
      </div>
      
      <div class="w3-container">
        <p align="justify">Cient&iacutefico de datos en formaci&oacuten. Proactivo, organizado y con profundo pensamiento cr&iacutetico. Busco ser parte de una organizaci&oacuten en la que pueda desarrollar mi potencial y cumplir mi aspiración de resolver problemas que permitan contribuir al avance de nuestra sociedad.</p>
      </div>
</div>
<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <h3><b>Datos de Contacto</b></h3>
    <hr>
    <h5><b><u>Direcci&oacuten postal:</u></b> Intendente G&uumliraldes 2160. Instituto de C&aacutelculo, Oficina 2118. Pabell&oacuten 0+Inf.<br><span class="w3-opacity"> Facultad de Cs. Exactas y Naturales, Ciudad Universitaria de Buenos Aires, Argentina. CPA C1428EGA.</span></h5>
    <h5><span class="w3-opacity"></span></h5>
    </div>

    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <img src="{% static 'linkedin.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://linkedin.com/in/romeroluisraul/">Linkedin</a></span><br>
            <span>Mi Vitae</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'github.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://github.com/romeroluisraul/">GitHub</a></span><br>
            <span>Proyectos desarrollados</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'drive.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"><a href="https://bit.ly/3Mwi3KV">Archivos P&uacuteblicos</a></span><br>
            <span>Archivos p&uacuteblicos: nombramientos, certificaciones, anal&iacuteticos, conferencias.</span>
        </li>
    </ul>

    <div class="w3-container">
    <h5><p align="justify">Env&iacuteame un mail <a href="mailto:luisr.romeroa@gmail.com?Subject=Pagina%20web%20CoderHouse" target="_blank">acá</a>.</p></h5>
    </div>
</div>
<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <h3><b>Resumen de Conocimientos</b></h3>
    <hr>
    </div>

    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
            <img src="{% static 'statsmodels-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Aprendizaje Supervisado</span><br>
            <span>Boosting con XGBoost, Random Forests, Bagging y ensambles con Scikit-Learn.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'sklearn_logo_recorte-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Aprendizaje No Supervisado</a></span><br>
            <span>Clustering jer&aacuterquico, K-means, DBSCAN, entre otros con Scikit-Learn.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'geopandas-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Series de Tiempo e Informacion Geolocalizada</span><br>
            <span>Con StatsModels y Geopandas.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'sql_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Bases de datos SQL</span><br>
            <span>SQLite, MySQL.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'django_logo-removebg.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Paginas Web basadas en Python</span><br>
            <span>Programaci&oacuten Backend con Django.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'R_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lenguajes de Programacion y Programacion Imperativa</span><br>
            <span>Python, R, Haskell.</span>
        </li>
        <li class="w3-padding-16">
            <img src="{% static 'python_logo.png' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Librer&iacuteas para manejo de datos con Python</span><br>
            <span>Matplotlib, Seaborn, NumPy, Pandas.</span>
        </li>
    </ul>
</div>


{% endblock %}