{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
<img src= "{{ post.image_portada.url }}" alt="{{post.image_portada_alt}}" title="{{post.image_portada_title}}" style="width:100%" height="646px">
  <div class="w3-container">
      <h3><b>{{ post.title }}</b></h3>
      <h5>{{post.subtitle}}<span class="w3-opacity"> {{post.date|date:"D M d, Y."}}</span></h5>
      <p align="justify">{{post.description}}</p>
      {% if request.user.is_superuser %}
        <p><span class="w3-padding-large w3-right"><a href="{% url 'editar_post' post.title %}" style="text-decoration:none"><b>Editar esta Publicaci&oacuten</b></a></span></p>
      {% endif %}
  </div>
  <!-- {% if request.user.is_superuser %}
  <div class="w3-container">
    <p><span class="w3-padding-large w3-right"><a href="{% url 'editar_post' post.title %}" style="text-decoration:none"><b>Editar esta publicaci&oacuten</b></a></span></p>
  </div>
  {% endif %} -->
  <hr>
  <div class="w3-container">
    {% for paragraph in texto_post %}
    <p align="justify">{{paragraph}}<br><br></p>
    {% endfor %}

    <hr>
    <h3><b>Galer&iacutea de Im&aacutegenes:</b></h3>
    {% if request.user.is_superuser %}
    <p><span class="w3-padding-large w3-right"><a href="{% url 'editar_galeria' post.title %}" style="text-decoration:none"><b>Editar Galer&iacutea de Im&aacutegenes</b></a></span></p>
    <br>
    <br>
    {% endif %}
    <br>

    {% for image in image_contenido_list %}
    <p style="text-align:center;">
    <img src= "{{image.url}}" alt="{{image.alt}}" title="{{image.title}}" style="width:83%" >
    </p>
    <div class="w3-container">
      <p style="text-align:center;">
      <i>{{image.paragraph}}</i>
      </p>
    </div>  
    {% endfor %}
    <br>
    <div class="w3-container">
        <p><span class="w3-padding-large w3-right"><a href="{% url 'comentarios' post.title %}" style="text-decoration:none"><b>Visualizar comentarios </b><span class="w3-badge">{{post.related_comments|length}}</a></span></span></p>
    </div>
    <br>
  </div>
</div>
<hr>

{% endblock %}