{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if errores_acceso %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>¡Error en el registro!</b></h3>
        <h5>{{errores_acceso}}</h5>
    </div>
    <hr>
</div>

{% endif %}

{% if not request.user.is_authenticated %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h4><b>Registrese:</b></h4>
        <h5><span class="w3-opacity">Introduzca sus datos:</span></h5>

    </div>
    <div class="w3-container">
    <form method="post">
        {% csrf_token %}
        <p>Usuario:</p>
        <input type="text" name="username">
        <p>Correo electr&oacutenico:</p>
        <input type="text" name="email">
        <p>Contrase&ntildea:</p>
        <input type="password" name="password1">
        <p>Repita su contrase&ntildea:</p>
        <input type="password" name="password2">
        <p></p>
        <div class="w3-col m4 w3-hide-small w3-right">
            <p align="right"><button class="w3-button w3-black w3-padding-large w3-margin-bottom" type="submit">Registrarse</button></p>
        </div>
    </form>
    </div>
</div>

{% else %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h4><b>Registro</b></h4>
        <h5><span class="w3-opacity">¡Ya se encuentra loggeado!</span></h5>
        <p>¿Desea salir y registrar otra cuenta?</p>
        <a href="{% url 'log_out_param' 'sing_up' %}" style="text-decoration:none"><button class="w3-button w3-black w3-padding-large w3-border w3-margin-bottom" type="submit"><b>Log-out</b></button></a>
        <a href="{{pagina_actual}}" style="text-decoration:none"><button class="w3-button w3-padding-large w3-white w3-border w3-margin-bottom" type="submit"><b>Volver</b></button></a>
    </div>
</div>

{% endif %}

{% endblock %}