{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>Resultados de la b&uacutesqueda de la etiqueta</b>
        <span class="w3-tag w3-black w3-margin-bottom">{{tag_buscado}}</span></h3>
        <h5>A continuaci&oacuten se muestran los principales resultados:</h5>
        <br>
    </div>
</div>
<hr>

{% for post in posts %}

{% include 'visualizacion_resumen_post.html' %}

{% endfor %}

{% endblock %}